<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="login-section">
        <h1 class="login-title">Admin – Connexion</h1>
        <form method="POST" class="login-form">
            <input type="text" name="username" placeholder="Identifiant admin" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit" class="btn-contact">Se connecter</button>
        </form>
    </section>
</body>
</html>
